
<h1>INSERTAR COMIC</h1>

<form method="post">
    @*<div class="mb-3">
        <label class="form-label">Id Comic </label>
        <input class="form-control" name="idcomic" disabled>
    </div>*@
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input class="form-control" name="nombre" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Imagen</label>
        <input class="form-control" name="imagen" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Descripcion</label>
        <input name="descripcion" class="form-control" required />
    </div>
    <button class="btn btn-outline-primary">Insertar comic</button>
</form>
<a asp-action="Index" asp-controller="Comics">
    Back To List
</a>